.footer {
   padding-top: 3rem;
    .container {
        display: flex;
        align-items:flex-start;
        gap: 2rem;
        @include mobile {
            flex-direction: column;
        }
    }
    &__item {
        width: 25%;
        margin-bottom: 4rem;
        overflow: hidden;
        @include mobile {
            width: 100%;
        }
        &__title {
            color: $main-color;
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
    }
    .footer-bottom {
        padding: 3rem 0;
        text-align: center;
        border-top: 1px solid #e7e7e7;
    }
}